


body {
    background-color: white;
    background-color: var(--background-color-main);
    height: 100%;
    font-family: 'Athiti', sans-serif;



}

:root {
    --background-color: white;
    --background-color-quotes: #CAC6A0;
    --border-line: #f3a14986;
    --heading-color: rgb(75, 29, 29);
    --backgroud-color-book: bisque;
    --background-color-main: #DFE0D8;
    ----background-color-section: #F1F0E9;
    --border-color: #4A76A4;
    --basic-text-color: white;
    --heading-chapter-text-color: #B30E08;

}

/** header **/

header nav {
    margin: 0;
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
 
    
}

header :hover{
    background-color: black;
}



li {
    margin: 0 10px;
    color: green;

}

li a {
    text-decoration: none;
    color: var(--basic-text-color);

}

li a:hover {
    color:orange;
}



main {
    display: grid;

    height: 100vh;
    align-items: center;
    justify-items: center;
    background-color: var(--background-color-main)
}



/***Drop down menu filter**/
form {
    display: flex;
    flex-direction: wrap;
    padding: 1em;
    gap: .3em;
    justify-content: center;
    align-items: center;
}

form label {
    font-size: 1rem;
}


form select option:focus {
    font-size: 1.1rem;
    background-color: #F3A149;
}


/**Pages ****/
section:nth-of-type(1) {
    padding: 1em;
    margin-bottom: 10em;

}


h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: overline;
    color: var(--heading-chapter-text-color);
    display: block;
}

/* 
/**First Border***/
section:nth-of-type(1) article:nth-of-type(1) {
    border: 2px solid var(--border-color);
    background-color: var(----background-color-section);
    border-radius: 2em;;
    box-shadow: 1px 2px 7px grey;
    inset:inherit;
    text-align: center;
    height: 100%;
    padding-top: 5em;
    padding: 1em;
    font-size: 1.2rem;


} 

span:nth-of-type(1){
    font-weight: 700;
    font-size: large;

}

h3{
    font-weight: 300;
    font-size: .9rem;

}


div:nth-of-type(2) {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;

}

button {
    padding: 1em;
    background-color: rgb(185, 151, 76);
    border: none;
    font-weight: 700;
    width: 10em;
    z-index: -1
}

button:hover{
    transform: scale(1.2);
  
    background-color: orange;
;   transition: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}

button:disabled {
    content:"......";
    background-color: rgba(255, 166, 0, 0.265);
    border-radius: 2px ;


}




.container-about{
    display: grid;
    justify-content: center;
    place-content: center;
    gap: 1em;
    background-color: var(--background-color-main);
    color: black;
}



h4 {

    color: var(--heading-chapter-text-color);
    font-size: 1.4rem;
}



.about article{
    /* background-color: var(----background-color-section); */
    background-color: white;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 1px 2px 7px black;
}


.about article details{
    color: black;
    border-radius:1em;
    font-size: 1.5rem;
   
 
}

.about article:nth-of-type(1){
    border:none;
  
}

.about, .article2 {
    color:black;
    text-align: left;
    /* border:1.5px solid var(--border-color); */
}


.about article details summary  {
   text-align: justify;
   font-size: 1.5rem;
}







@media (min-width:44em) {
    body {
        justify-content: center;
        background-color: var(--);
    }

    /***First page**/
    section:nth-of-type(1) article :nth-of-type(1) {
        height: 100;

    }


    /****pages**/
    section:nth-of-type(1) {
        width: 100vh;
        justify-content: center;


    }

    h4{
        text-align: center;
    }

.container-about{
    display: grid;
    grid-template-columns:500px 500px;
    gap: 2em;
}

.container-about article:hover{
    border:2px solid var(--border-color);
    box-shadow: 1px 2px 7px black;
    }

}


